@import "colors"

@mixin transition($args)
  -webkit-transition: $args
  -moz-transition: $args
  -ms-transition: $args
  -o-transition: $args
  transition: $args
*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: Raleway, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-sub-title
  color: white
  background-color: $yankees-blue
body
  height: 100%
  min-width: 320px
// //Nav and Header
#header
  position: fixed
  display: flex
  flex-direction: row
  justify-content: flex-end
  padding: 10px
  background-color: transparent
  width: 100%
  z-index: 1
  #header-img
    height: 75px
    width: auto
    background: $copper-penny
  #header-img:hover
    overflow: hidden
    font-family: Arial
    figure
      background-color: transparent
  #nav-bar a
    float: left
    font-size: 16px
    color: $deep-koamaru
    text-align: center
    padding-top: 14px
    text-decoration: none
    background-color: white
    border: 1px $deep-koamaru solid
    width: 100%
    padding: 5px
  #nav-bar ul .nav-link
    @include transition(display 0.9s ease-in-out)
    display: none
    background-color: $copper-penny
  #nav-bar:hover ul .nav-link
    display: block

#beer-box
  position: relative
  background:
    image: url(/images/beerflight.jpg)
    size: contain
    height: 600px
    repeat: no-repeat
    position: top center
    attachment: fixed
main
  position: absolute
  width: 100%
  transform: skewY(-4deg)
  background-color: $yankees-blue
  padding-top: 75px
  display: flex
  flex-direction: column
  justify-content: center
  flex: 1 0 auto
  #form
    text-align: center
    padding: 20px
    transform: skewY(4deg)
    height: 600px
    #email
      margin-top: 20px
      margin-right: 10px
      padding: 15px 25px
      font-size: 22px
      text-decoration: none
      margin: 20px
      background-color: white

    #submit
      background-color: $copper-penny
      border: 1px $copper-penny solid
      border-radius: 5px
      padding: 15px 25px
      font-size: 22px
      text-decoration: none
      margin: 20px
      color: white
      position: relative
      &:active
        transform: translate(0px, 5px)
        box-shadow: 0px 5px 0px 0px
      &:hover
        background-color: darken($copper-penny, 20%)

  //Video//
  #video-box
    transform: skewY(4deg)
    padding-top: 56.25%
    background-color: yellow
    #video
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
    position: relative
  #image-group
    display: flex
    flex-direction: row
    justify-content: center
    transform: skewY(4deg)
    width: 100%
    padding-top: 200px
    img
      padding: 20px
      align-self: flex-start
footer
  position: fixed
  bottom: 0
  width: 100%
  height: 60px
  padding: 30px
  div
    margin: 0 auto
    width: 80%
    text-align: center
//Small Screen
@media screen and (max-width: 700px)
  header
    width: 100%
  #beer-box
    height: 300px
    width: auto
    background:
      width: 350px
      height: auto
  main
    margin-top: -140px
  #video
    padding-left: 10%
    padding-right: 10%
  #image-group
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: center
    img
      width: 90%
      height: auto

//Large Screen
@media screen and (min-width: 701px)
  #beer-box
    height: 500px
    width: 100%
  main
    margin-top: -60px
  #form
    display: flex
    flex-direction: column
    align-items: center
    h1
      font-size: 44px
    #email
      width: 55%
    #submit
      width: 200px
  #video
    padding-left: 40px
    padding-right: 40px
  #image-group
    display: flex
    flex-direction: row
    flex-wrap: wrap
